.registration {
   padding: 30px;
   min-height: 290px;

}
.registration__title {
   font-family: 'Arial';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 24px;
   color: #1C1C1C;
  
}
.user-type {
   padding-top: 30px;
   display: flex;
   justify-content: space-between;
   width: 620px;
}
.user-type-item {
   display: flex;
   flex-direction: column;
}
.user-type-item__title {
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   width: 193px;
   height: 34px;
   background: #F2F2F2;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ACACAC;
}
.user-type-item__img {
   padding: 10px 0 10px 0;
   opacity: 0.6;
}
.user-type-item__promo {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 193px;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   color: #ACACAC;
   font-family: 'Arial';
}

.user-type-item__title_active {
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   width: 193px;
   height: 34px;
   background: #CF5A1D;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}
.user-type-item__img_active {
   padding: 10px 0 10px 0;

}
.user-type-item__promo_active {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 193px;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   color: #000000;
   font-family: 'Arial';
}
.registration__form {
   display: flex;
   flex-direction: column;
   width: 455px;
   height: 520px;
   margin-top: 50px;
}

.registration-input {
display: flex;
flex-direction: row;
align-items: center;
   margin: 6px;

background: #FFFFFF;
/* light grey 2 */

border: 1px solid #E9E9E9;
box-shadow: inset 2px 3px 6px rgba(172, 172, 172, 0.2);
border-radius: 5px;
padding: 12px 16px ;
}

option:hover { 
   background-color: rgb(241, 155, 43);
}

.registration-input__submit { 

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 9px 16px;


   width: 200px;
   height: 44px;

   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   
   color: #FFFFFF;
   margin-top: 17px;
   


   background: #CF5A1D;
   border-radius: 4px;
   border: 0px solid #ffff
}